<form
  id="eventForm"
  #eventEditForm="ngForm"
  *ngIf="edit"
  (ngSubmit)="putEvent(eventEditForm, eventToEdit.id)"
>
  <p>Edit Event</p>
  <div class="eventForm">
    <label for="eventName">Event:</label>
    <input type="text" name="event_name" [ngModel]="eventToEdit.event_name" />
    <label for="date">Date:</label>
    <input type="date" name="event_date" [ngModel]="eventToEdit.event_date" />
    <div class="time">
      <label for="time">Starts:</label>
      <input
        type="time"
        name="event_start_time"
        [ngModel]="eventToEdit.event_start_time"
      />
      <label for="time">Ends:</label>
      <input
        type="time"
        name="event_end_time"
        [ngModel]="eventToEdit.event_end_time"
      />
    </div>
    <p>Where are you leaving from?</p>
    <label for="startAdd">Starting Address: </label>
    <input
      type="text"
      name="starting_address"
      placeholder="Starting Address"
      [ngModel]="eventToEdit.starting_address"
    />
    <div>
      <label for="startCity">City: </label>
      <input
        type="text"
        name="starting_city"
        placeholder="Starting City"
        [ngModel]="eventToEdit.starting_city"
      />
      <label for="startState">State: </label>
      <input
        type="text"
        name="starting_state"
        placeholder="Starting State"
        [ngModel]="eventToEdit.starting_state"
      />
    </div>
    <label for="startZip">Zipcode: </label>
    <input
      type="number"
      name="starting_zip"
      placeholder="Starting Zipcode"
      [ngModel]="eventToEdit.starting_zip"
    />

    <p>Where is your event?</p>
    <label for="eventAdd">Event Address: </label>
    <input
      type="text"
      name="event_address"
      placeholder="Event Address"
      [ngModel]="eventToEdit.event_address"
    />
    <div>
      <label for="endCity">Event City: </label>

      <input
        type="text"
        name="event_city"
        placeholder="Event City"
        [ngModel]="eventToEdit.event_city"
      />
      <label for="endState">Event State: </label>
      <input
        type="text"
        name="event_state"
        placeholder="Event State"
        [ngModel]="eventToEdit.event_state"
      />
    </div>
    <label for="eventZip">Event Zipcode: </label>
    <input
      type="number"
      name="event_zip"
      placeholder="Event Zipcode"
      [ngModel]="eventToEdit.event_zip"
    />
    <label for="notes">Additional Event Notes:</label>
    <textarea
      name="event_notes"
      id=""
      cols="50"
      rows="5"
      [ngModel]="eventToEdit.event_notes"
    ></textarea>
  </div>
  <div class="button">
    <button>
      <img
        class="green-check"
        id="new-item"
        src="./../../assets/correct-symbol.svg"
        alt="Add Item"
      />
    </button>
  </div>
</form>
