h2 {
  font-family: "Manjari", sans-serif;
}

.upcomingHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 10px 10px;
}

ul {
  list-style: none;
  margin-right: 50px;
}
li {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.37);
}
.listItem {
  display: flex;
  align-items: center;
  width: 100%;
}
li:hover {
  transform: scale(1.03);
}
img {
  position: relative;
  height: 35px;
  width: 35px;
  padding-right: 10px;
}
.icon {
  position: relative;
  height: 15px;
  width: 15px;
  padding: 9px;
}
.upcomingHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 10px 10px;
}
.upcoming {
  display: none;
}
.infoButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  background: #fe7590;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-family: "Lemon", cursive;
}
@media only screen and (min-width: 992px) {
  .upcoming {
    display: inline;
  }
}
