<div class="upcomingHeader">
  <h2>Upcoming Events</h2>
  <div></div>
</div>
<app-edit-event *ngIf="eventEdit"></app-edit-event>
<!-- <ul>
  <li *ngFor="let todo of upcomingTodoList; index as i">
    <div class="listItem">
      <div class="checkbox" (click)="deleteTodo(i)">
        <img
          *ngIf="todo.completed"
          class="complete"
          src="./../../assets//correct-symbol.svg"
          alt=""
        />
      </div>
      <div>
        <p>
          {{ todo.to_do_item }}
          <span *ngIf="todo.to_do_priority === 'low'">!</span>
          <span *ngIf="todo.to_do_priority === 'medium'">!!</span>
          <span *ngIf="todo.to_do_priority === 'high'">!!!</span>
        </p>
      </div>
      <button class="infoButton" (click)="showExtra(i)">More Info:</button>
    </div>
    <div class="moreInfo" *ngIf="todo.show">
      <p>Date: {{ date }}</p>
      <p>Notes: {{ todo.to_do_notes }}</p>
    </div>
  </li>
</ul> -->

<ul>
  <li class="eventList" *ngFor="let event of upcomingEventList; index as i">
    <div class="listItem">
      <img id="new-item" src="./../../assets/calendar.svg" alt="Add Item" />
      <div>
        <p>{{ event.event_name }}</p>
        <p>{{ event.event_date }}</p>
        <p>Time: {{ event.event_start_time }} - {{ event.event_end_time }}</p>
      </div>
    </div>
    <div>
      <button class="infoButton" (click)="showEventInfo(i)">
        More Info
      </button>
      <button (click)="callApi(i)">
        Get Traffic
      </button>
      <p *ngIf="event.call">Drive time is: {{ trafficData }}</p>
      <div class="moreInfo" *ngIf="event.show">
        <p>
          Address: {{ event.event_address }} {{ event.event_city }}
          {{ event.event_state }}
        </p>
        <p>Notes: {{ event.event_notes }}</p>
      </div>
      <div class="icons" *ngIf="event.show">
        <img
          (click)="editEvent(i)"
          class="icon"
          src="./../../assets/edit.svg"
          alt="edit item"
        />
        <img
          class="icon"
          src="./../../assets/trash.svg"
          alt="delete item"
          (click)="deleteEvent(i)"
        />
      </div>
    </div>
  </li>
</ul>
