<div class="tomorrowHeader">
  <h2>Tomorrow</h2>
  <div class="tomorrowWeather">
    <p>{{ tomorrow }}</p>
    <img
      class="todayImg"
      src="http://openweathermap.org/img/wn/{{ tomorrowWeatherData }}@2x.png"
      alt=""
    />
    <p>{{ tomorrowTemp }}°F</p>
  </div>
</div>
<ul>
  <li
    *ngFor="let todo of tomorrowTodoList; index as i"
    [ngClass]="{
      high: todo.to_do_priority === 'high',
      medium: todo.to_do_priority === 'medium',
      low: todo.to_do_priority === 'low'
    }"
  >
    <div class="listItem">
      <div class="checkbox" (click)="markCompleted(i)">
        <img
          *ngIf="todo.completed"
          class="complete"
          src="./../../assets//correct-symbol.svg"
          alt=""
        />
      </div>
      <div>
        <p>
          {{ todo.to_do_item }}
          <span *ngIf="todo.to_do_priority === 'low'">!</span>
          <span *ngIf="todo.to_do_priority === 'medium'">!!</span>
          <span *ngIf="todo.to_do_priority === 'high'">!!!</span>
        </p>
      </div>
      <button class="infoButton" (click)="showExtra(i)">More Info:</button>
    </div>
    <div *ngIf="todo.show">
      <p>Date: {{ todo.to_do_date }}</p>
      <p>Notes: {{ todo.to_do_notes }}</p>
    </div>
  </li>
</ul>

<ul>
  <li *ngFor="let event of tomorrowEventList; index as i">
    <img id="icon" src="./../../assets/calendar.svg" alt="Add Item" />
    <div>
      <p>{{ event.event_name }}</p>
      <p>{{ event.event_date }}</p>
      <button (click)="callApi(i)">
        Get Weather and Traffic
      </button>
      <i (mouseover)="showInfo(i)" (mouseout)="showInfo(i)">
        <img
          src="http://openweathermap.org/img/wn/{{ weatherData }}@2x.png"
          alt=""
      /></i>
      <div *ngIf="event.show">
        <p>{{ currentTemp }}°F</p>
        <p>{{ returnDescription }}</p>
      </div>
      <p *ngIf="event.call">Drive time is: {{ trafficData }}</p>
    </div>
  </li>
</ul>
