<h2>Today</h2>
<ul>
  <li
    *ngFor="let todo of todayTodoList; index as i"
    [ngClass]="{
      high: todo.to_do_priority === 'high',
      medium: todo.to_do_priority === 'medium',
      low: todo.to_do_priority === 'low'
    }"
  >
    <div class="checkbox" (click)="markCompleted()">
      <img
        *ngIf="completed"
        class="complete"
        src="./../../assets//correct-symbol.svg"
        alt=""
      />
    </div>
    <!-- <img id="new-item" src="./../../assets/reminder.svg" alt="" /> -->
    <div>
      <p>
        {{ todo.to_do_item }}
        <span *ngIf="todo.to_do_priority === 'low'">!</span>
        <span *ngIf="todo.to_do_priority === 'medium'">!!</span>
        <span *ngIf="todo.to_do_priority === 'high'">!!!</span>
      </p>
      <p>{{ todo.to_do_date }}</p>
      <button (click)="deleteTodo(todo.id)">Complete</button>
    </div>
  </li>
</ul>

<ul>
  <li *ngFor="let event of todayEventList; index as i">
    <img id="new-item" src="./../../assets/calendar.svg" alt="Add Item" />
    <div>
      <p>{{ event.event_name }}</p>
      <p>{{ event.event_date }}</p>

      <button (click)="callApi(event)">
        Get Weather and Traffic
      </button>
      <i (mouseover)="showInfo()" (mouseout)="showInfo()">
        <img
          src="http://openweathermap.org/img/wn/{{ weatherData }}@2x.png"
          alt=""
      /></i>
      <div *ngIf="show">
        <p>{{ currentTemp }}°F</p>
        <p>{{ returnDescription }}</p>
      </div>
      <p>{{ trafficData }}</p>
    </div>
  </li>
</ul>
