ul {
  list-style: none;
}
li {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: space-around; */
  background: white;
  width: 95%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
li:hover {
  transform: scale(1.03);
}
img {
  position: relative;
  height: 35px;
  width: 35px;
  padding-right: 10px;
}
.high {
  /* border: 3px solid rgba(255, 0, 0, 0.308); */
  box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.411);
}
.high:hover {
  /* border: 3px solid rgba(255, 0, 0, 0.308); */
  box-shadow: 5px 5px 5px 5px rgba(255, 0, 0, 0.411);
}
.medium {
  /* border: 3px solid rgba(255, 255, 0, 0.24); */
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 0, 0.411);
}
.medium:hover {
  /* border: 3px solid rgba(255, 255, 0, 0.24); */
  box-shadow: 5px 5px 5px 5px rgba(255, 255, 0, 0.411);
}
.low {
  /* border: 3px solid rgba(0, 128, 0, 0.205); */
  box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.411);
}
.low:hover {
  /* border: 3px solid rgba(0, 128, 0, 0.205); */
  box-shadow: 5px 5px 5px 5px rgba(0, 128, 0, 0.411);
}
button {
  background: #fe7590;
}
.checkbox {
  height: 25px;
  width: 25px;
  background: white;
  border: 3px solid #fe7590;
}
.complete {
  height: 25px;
  width: 25px;
}

.notes {
  width: 40%;
}

.todayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-right: 20px;
}
.currentWeather {
  display: flex;
  flex-direction: row;
  margin: 0px;

  /* padding: 0px 0px 2px 5px; */
}
.todayImg {
  height: 70px;
  width: 70px;
  padding: 0;
}
.current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 5px 5px;
  box-shadow: 2px 2px 2px 2px rgba(255, 166, 0, 0.473);
  background: white;
  border-radius: 10px;
}
.currentHeader {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.temp {
  font-size: 20px;
}

@media only screen and (min-width: 992px) {
  .temp {
    font-size: 10px;
  }
  .todayImg {
    height: 35px;
    width: 35px;
  }
}
