<div class="todayHeader">
  <h2>Today</h2>
  <div class="currentWeather">
    <p>{{ date }}</p>
    <img
      class="todayImg"
      src="http://openweathermap.org/img/wn/{{ currentWeatherData }}@2x.png"
      alt=""
    />
    <p>{{ todayTemp }}°F</p>
  </div>
</div>
<app-edit-todo *ngIf="edit"></app-edit-todo>
<ul>
  <li
    class="show"
    *ngFor="let todo of todayTodoList; index as i"
    [ngClass]="{
      high: todo.to_do_priority === 'high',
      medium: todo.to_do_priority === 'medium',
      low: todo.to_do_priority === 'low'
    }"
  >
    <div class="listItem">
      <div class="checkbox" (click)="deleteTodo(i)">
        <img
          *ngIf="todo.completed"
          class="complete"
          src="./../../assets//correct-symbol.svg"
          alt=""
        />
      </div>
      <div class="itemName">
        <p>
          {{ todo.to_do_item }}
        </p>
      </div>
      <button class="infoButton" (click)="showExtra(i)">More Info:</button>
    </div>
    <div class="moreInfo" *ngIf="todo.show">
      <p>Date: {{ date }}</p>
      <p>Notes: {{ todo.to_do_notes }}</p>
    </div>
    <div class="icons" *ngIf="todo.show">
      <img
        (click)="editTodo(i)"
        class="icon"
        src="./../../assets/edit.svg"
        alt="edit item"
      />
      <img
        class="icon"
        src="./../../assets/trash.svg"
        alt="delete item"
        (click)="deleteTodo(i)"
      />
    </div>
  </li>
</ul>

<ul>
  <li *ngFor="let event of todayEventList; index as i">
    <div class="eventItem">
      <img id="new-item" src="./../../assets/calendar.svg" alt="Add Item" />

      <div class="itemName">
        <p>{{ event.event_name }}</p>
        <p>
          Time: {{ event.event_start_time }} to
          {{ event.event_end_time }}
        </p>
      </div>
      <div class="infoButton">
        <button (click)="callApi(i)">
          Get Weather and Traffic
        </button>
        <button class="infoButton" (click)="showEventInfo(i)">
          More Info:
        </button>
      </div>
    </div>

    <div *ngIf="event.call">
      <i (mouseover)="showWeather(i)" (mouseout)="showWeather(i)">
        <img
          src="http://openweathermap.org/img/wn/{{ weatherData }}@2x.png"
          alt=""
      /></i>
      <div *ngIf="event.weather">
        <p>{{ currentTemp }}°F</p>
        <p>{{ returnDescription }}</p>
      </div>
    </div>
    <p *ngIf="event.call">Drive time is: {{ trafficData }}</p>
    <div class="moreInfo" *ngIf="event.show">
      <p>
        Address: {{ event.event_address }} {{ event.event_city }}
        {{ event.event_state }}
      </p>
      <p>Notes: {{ event.event_notes }}</p>
    </div>
    <div class="icons" *ngIf="event.show">
      <img
        (click)="editEvent(i)"
        class="icon"
        src="./../../assets/edit.svg"
        alt="edit item"
      />
      <img
        class="icon"
        src="./../../assets/trash.svg"
        alt="delete item"
        (click)="deleteEvent(i)"
      />
    </div>
  </li>
</ul>
