<h2>Today</h2>
<ul>
  <li *ngFor="let todo of todayTodoList; index as i">
    <img id="new-item" src="./../../assets/reminder.svg" alt="" />
    <div>
      <p>{{ todo.to_do_item }}</p>
      <p>{{ todo.to_do_date }}</p>
      <button (click)="deleteTodo(todo.id)">Complete</button>
    </div>
  </li>
</ul>

<ul>
  <li *ngFor="let event of todayEventList; index as i">
    <img id="new-item" src="./../../assets/calendar.svg" alt="Add Item" />
    <div>
      <p>{{ event.event_name }}</p>
      <p>{{ event.event_date }}</p>
      <button (click)="callApi(event)">
        Get Weather and Traffic
      </button>

      <p>{{ currentTemp }}°F</p>
      <p>{{ returnDescription }}</p>
      <p>{{ trafficData }}</p>
    </div>
  </li>
</ul>
