<main>
  <header class="nav-bar">
    <div class="branding">
      <img src="assets/sailboat.svg" alt="listy logo" id="logo" />
      <p id="listy" routerLink="/landingpage">Listy</p>
    </div>
    <div style="float:right" *ngIf="!hideNavigation">
      <img
        routerLink="/new"
        routerLinkActive="active"
        id="new-item"
        src="./../assets/plus-symbol.svg"
        alt="Add Item"
      />
      <img
        routerLink="/home"
        routerLinkActive="active"
        id="back-arrow"
        src="./../assets/left-arrow.svg"
        alt="Add Item"
      />
    </div>
  </header>
</main>

<router-outlet></router-outlet>
