<!-- <router-outlet></router-outlet> -->

<main>
  <header class="nav-bar">
    <div class="branding">
      <img src="assets/sailboat.svg" alt="listy logo" id="logo" />
      <p id="listy">Listy</p>
    </div>
    <div style="float:right">
      <img
        routerLink="/new"
        routerLinkActive="active"
        id="new-item"
        src="./../assets/plus-symbol.svg"
        alt="Add Item"
      />
      <img
        routerLink="/home"
        routerLinkActive="active"
        id="new-item"
        src="./../assets/left-arrow.svg"
        alt="Add Item"
      />
    </div>
  </header>
  <router-outlet></router-outlet>
</main>
