<button (click)="handleNewEntry()">+</button>
<div id="wrapper" *ngIf="showNewEntry">
  <label for="onoffswitch">Is this new To-do or a new Event?</label>
  <div class="onoffswitch">
    <input
      type="checkbox"
      name="onoffswitch"
      class="onoffswitch-checkbox"
      id="myonoffswitch"
      checked
      (click)="handletoggle()"
    />
    <label class="onoffswitch-label" for="myonoffswitch">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>

  <form #todoForm="ngForm" (ngSubmit)="postTodo(todoForm)" *ngIf="!showForm">
    <label for="todoName">What is your new To-do?</label>
    <input type="text" name="to_do_item" ngModel />
    <label for="date">When?</label>
    <input type="date" name="to_do_date" ngModel />
    <label for="priority">How important is this To-do?</label>
    <select name="to_do_priority" id="priority" ngModel>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <label for="notes">Additional To-do Notes: </label>
    <textarea
      name="to_do_notes"
      id="notes"
      cols="50"
      rows="5"
      ngModel
    ></textarea>
    <button>ADD TO-DO</button>
  </form>

  <form
    #eventForm="ngForm"
    *ngIf="showForm"
    (ngSubmit)="
      postEvent(eventForm); getWeather(eventForm); getTraffic(eventForm)
    "
  >
    <label for="eventName">Event Name: </label>
    <input type="text" name="event_name" ngModel />

    <label for="time">Time of Event</label>
    <input type="time" name="event_start_time" ngModel />
    <label for="time">End Time of Event</label>
    <input type="time" name="event_end_time" ngModel />
    <label for="date">Date of Event</label>
    <input type="date" name="event_date" ngModel />
    <p>Where are you leaving from?</p>
    <label for="startAdd">Starting Address: </label>
    <input
      type="text"
      name="starting_address"
      placeholder="Starting Address"
      ngModel
    />
    <label for="startCity">Starting City: </label>

    <input
      type="text"
      name="starting_city"
      placeholder="Starting City"
      ngModel
    />
    <label for="startState">Starting State: </label>
    <input
      type="text"
      name="starting_state"
      placeholder="Starting State"
      ngModel
    />
    <label for="startZip">Starting Zipcode: </label>
    <input
      type="number"
      name="starting_zip"
      placeholder="Starting Zipcode"
      ngModel
    />
    <p>Where is your event?</p>
    <label for="eventAdd">Event Address: </label>
    <input
      type="text"
      name="event_address"
      placeholder="Event Address"
      ngModel
    />
    <label for="endCity">Event City: </label>

    <input type="text" name="event_city" placeholder="ending City" ngModel />
    <label for="endState">Event State: </label>
    <input type="text" name="event_state" placeholder="ending State" ngModel />
    <label for="eventZip">Event Zipcode: </label>
    <input type="number" name="event_zip" placeholder="Event Zipcode" ngModel />
    <label for="notes">Additional Event Notes:</label>
    <textarea name="event_notes" id="" cols="50" rows="5" ngModel></textarea>
    <button>ADD EVENT</button>
  </form>
</div>

<!-- adding in icon -->

<p>{{ currentTemp }}</p>
<p>{{ returnDescription }}</p>

<i class="owi owi-09d"></i>

<img src="http://openweathemap.org/img/wn/{{ weatherData }}@2x.png" alt="" />

<button (click)="getTomorrowDate()">Get Date</button>
